<nav>
    <a href="/home">Theater</a>
    <ul>
        <li><a href="/home">Home </a></li>
        {{#if isAuthenticated}}
        <li><a href="/user/logout">Logout</a></li>
        {{else}}
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
        {{/if}}
    </ul>
</nav>

{{#if message }}
{{> notifications}}
{{/if}}
