@import url(https://use.fontawesome.com/releases/v5.8.1/css/all.css);

form {
    background-color: #f9f9f9; 
    font-family: Helvetica, sans-serif;
    margin: 3rem;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 3px;
    width: 18rem;
    padding: 1rem;
    position: relative;
    z-index: 0;    
}

input {
    border-radius: 3px;
}

.fa-user, .fa-key {
    position: absolute;
    bottom: 15px;
    left: 8px;  
    font-size: 13px;  
}

label:first-child {
    background-color: #f9f9f9;
    text-align: left;
    padding-left: 0.5rem;
    border: 1px solid black;
    border-radius: 3px;
    width: 6rem;
    position: absolute;
    left: -1px;
    top: -10px;
    z-index: 1;
    font-size: 0.8rem;
    padding: 3px 0px 3px 10px;
}

label:nth-child(2), label:nth-child(3) {
    margin: 0.3rem;
    font-size: 0.85rem;
    font-weight: 600;
    position: relative;    
}

label:nth-child(2) {
    margin-top: 7px;
}

#username, #password {    
    display: block;
    height: 1.5rem;
    width: 15rem;
    margin-bottom: 7px;
    padding-left: 23px;
}

#username:focus + .fa-user, #password:focus + .fa-key {    
   color: gray;
}

input[type="submit"] {
    width: 2.8rem; 
    padding: 1px;   
    margin-left: 5px;
    margin-top: 7px;
}

@media screen and (min-width: 800px) {
    form {                
        width: 35rem; 
    }

    #username, #password {    
        display: inline;
        height: 1.5rem;
        width: 25rem;
    }

    .fa-user, .fa-key {
        position: absolute;
        bottom: 15px;
        left: 82px;  
        font-size: 13px;  
    }

}