@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;    
}

table {
    color: #333333;
    border-spacing: 0;  
    margin: auto; 
}

th {
    color: rgb(255, 255, 255);
    background-color:rgb(144, 180, 214);
    text-align: center;
    letter-spacing: 2px;    
}

td {
    padding: 5px 30px 5px 10px;
    font-size: 18px;
    margin: 0;
    text-align: left;
    color: rgb(255, 255, 255);  
    background-color: #84b3ad;  
    width: 150px;
}

tr:nth-child(even) td{
    background-color: #689ad8;
}





